.Rproj.user
.Rhistory
.RData
.Ruserdata

# Ignore all fles in the at the following directory:
data/
MIMI_data/
fortification_models/figures/

# Ignore all files with the following extensions: 
*.csv
*.dta
*.DS_Store

